
.Login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}
 .login-form {
    max-width: 320px;
     overflow: hidden;
}
 .login-form-forgot {
    float: right;
}
 .ant-col-rtl .login-form-forgot {
    float: left;
}
 .login-form-button {
    width: 100%;
}